%% -*- mode: erlang;erlang-indent-level: 4;indent-tabs-mode: nil -*-
%% ex: ts=4 sw=4 ft=erlang et

{erl_opts,
 [warnings_as_errors,
  warn_export_all]}.

{deps,
 [{node_alive, ".*", {git, "https://github.com/ccredrock/node_alive", {tag, "3.0"}}},
  {undead_global, ".*", {git, "https://github.com/ccredrock/undead_global", {tag, "1.0"}}}
 ]}.
